img.intro {
  width: 320px;
  height: 439px;
}

h1.intro {
  text-align: center;
  color: blue;
  font-size: 40px;
}

h2.intro {
    text-align: center;
    color: blue;
}

div.intro {
    text-align: center;
    color: blue;
}

.link {
    color:red;
}